.layout-manipulator {
    height: 100%;
    background-color: var(--accent-dark);
    cursor: col-resize;
    transition: background-color 0.15s ease;
}

.layout-manipulator:hover {
    background-color: var(--accent);
}
