{
	auto_https off
}

:80 {
	handle /sounds/* {
		root * /srv
		header Cache-Control "public, max-age=86400"
		file_server
	}

	handle_path /api/* {
		encode gzip
		reverse_proxy api-gateway:3000
	}

	handle /ws {
		reverse_proxy realtime-gateway:3300
	}

	handle {
		encode gzip
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
