.chat-message {
    margin: 10px;
    padding: 10px 12px;
    max-width: 75%;
    width: fit-content;
    margin-left: var(--margin-left-value);
    margin-right: var(--margin-right-value);
    overflow-wrap: anywhere;

    border: 2px solid var(--accent-dark);
    border-radius: 12px;

    color: var(--text);
    font-weight: 600;
}

.chat-message.other {
    margin-left: 10px;
    margin-right: auto;
    background-color: var(--accent-dark);
}

.chat-message.own {
    margin-left: auto;
    margin-right: 10px;
    background-color: var(--accent);
    color: var(--accent-contrast);
    border-color: var(--accent-hover);
}
