.open-chat-card {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    width: 100%vh;
    margin: 10px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 10px;
    color: white;
    background-color: #aaaaaa;
}

.open-chat-card > .profile-picture {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    background-color: black;
    margin-right: 10px;
    border-radius: 10px;
}

.open-chat-card > .text-data {
    overflow: hidden;
    width: 100%vh;
}

.open-chat-card .username > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.open-chat-card .last-message > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    -webkit-line-clamp: 1;
}
